form{
    max-width: 600px;
    margin: 6em auto; /* Alinha ao centro horizontalmente */
    padding: 1em;
    display: flex; /* Flexbox para centralização */
    flex-direction: column; /* Garante que os itens ficam empilhados */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    font-size: 24px;
}
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.form__titulo{
    text-align: center;
}
form input, 
form textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--branco);
    border-radius: 5px;
    font-size: 1rem;
    padding: 1em;
}

form button {
    display: block;
    text-align: center;
    padding: 0.7rem;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    border-radius: 5px;
    border: 2px solid  var(--cor-terciaria);
    text-transform: uppercase;
    font-size: 1rem;
    transition: background-color 0.3s;
    text-decoration: none;
}
form button:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}