.foto {
    width: 50%;
    border: 2px solid var(--cor-terciaria);
    padding: 5px;
    border-radius: 16px;
    margin: 0 auto;
}

.inicio {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    background-repeat: no-repeat;
    background-size: 24%;
    align-items: flex-start;
}

.inicio__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.inicio__conteudo__titulo {
    font-size: 2.25rem;
}

span {
    color: var(--cor-terciaria);
}

.apresentacao {
    font-size: 1.5rem;
}

.botoes__title {
    font-weight: 400;
    font-size: 1.5rem;
}

.botoes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
}

.links:hover {
    cursor: pointer;
    background-color: var(--cot-hover);
    color: var(--cor-terciaria);
}