@media (max-width: 1200px ) {
    .cabecalho{
        padding: 8%;
        font-size: 1.5rem ;
    }
    .cabecalho__menu{
        justify-content: center;
        gap: 10px;
    }
    .inicio{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .inicio__conteudo{
        width: auto;
    }
}